@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

h1 {
  padding: 2vh;
  font-size: 10vh; 
  font-weight: 2000; 
  font-family: monospace, sans-serif;
  text-align: center;
  color: #030511;
  }

h2 {
  font-size: 5vh; 
  font-family: monospace, sans-serif;
  text-align: center;
  color: #030511;
}

h3 {
  font-size: 20px; 
  font-family: monospace, sans-serif;
  text-align: center;
}

p {
  font-size: 15px; 
  font-family: Montserat, sans-serif; 
  padding: 1em 1em 2em 2em; 
  line-height: 20px;
}

b {
    color: #14248A;
    line-height: 5vh;
}

.lilac {
    color: #cdb4dbcd;
}

.darkerblue {
    color: #998fc7;
}

.limited {
  margin: 0;
  padding: 0;
  background-color: #fdfdfd;
  color: #212121;
  font-family: Montserrat, sans-serif;
  text-rendering: optimizeLegibility; 
}
/* automatically sets content into 100& viewport */


/* forces image to fit viewport without being too large */
img {
  display: block;
  max-width: 1024px;
  max-height:600px;
  width: auto;
  height: auto;
}

/* container class then keeps the max-width content to 1024 px and 95% of the page */
.container {
  margin: 0 auto;
  width: 95%;
  max-width: 1024px; 
}

.grid {
  display: grid;
  width: 100%;
  padding: 1.5vh 0;
  grid-template-columns: 1.5fr 2fr 0.15fr;
  grid-template-rows: 0.5fr 0.5fr 0.15fr; 
  grid-gap: vh 3vh;
  align-items: center;
  grid-template-areas:
    "header header header"
    "img info links"
    "about about about"
    "education education-text education-text"
    "education2 education2-text education2-text";
}

.grid > header {
  background-color: #d4c2fc; 
  grid-area: header;
  background-color: #28262C;
  text-align: justify;
  inline-size: 100%;
  overflow-wrap: break-word;
  max-width: 100%;
  font-size: 10vh;
  border-radius: 5px;
  }

.grid > header h1 {
    padding: 1vh;
    color: #F9F5FF;
    font-size: 10vh; 
    font-weight: 2000; 
    font-family: monospace, sans-serif;
    text-align: center;
    }
  
.grid img {
  padding-top: vh;
  grid-area: img;
  object-fit: cover;
  max-width: 100%; /* ensure the image stays within its container */
  height: auto;
  min-width: 30%; 
}

#me-text {
    text-align: center;
}

.grid .info {
  font-family: Montserrat, sans-serif;
  grid-area: info;
  display: flex;
  flex-direction: column;
  max-width: 100%; 
  text-align:center;
  justify-content: space-around;
  align-self:start;
}

.info-text {
    line-height: 2.5 vh;
}

.grid .links {
    text-align:center;
}

.grid .about {
    grid-area: about; 
    background-color: #F9F5FF;
    font-family: Montserat, sans-serif;
}

.grid h2 {
    color: #998fc7;
}

.grid .education {
    grid-area: education;
    background-color: black;
}
.grid .education-text {
    grid-area: education-text;
}
.grid .education2 {
    grid-area: education2;
}

.grid .education2-text{
    grid-area: education2-text;
}

a:hover {color: #ffafcc; }
/* styling for when a link is hovered */ 

a.link {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0px 3px 0px 0px lightgrey;
}

.link {
  background-color: #cdb4dbcd;
  padding: 10px15px;
  border-radius: 5px;
}

a.link:hover {
  color: white; 
  background-color: #ffafcc;
  cursor: pointer;
}


/* Form Styling */ 
#contact-jump {
    padding-top: 5vh;
    color: white;
    font-size: 10vh;
}

.heading {
    padding-top: 1.5vh;
    color:#030511;
    font-family: Montserat, sans-serif; 
    font-size: 2vh; 
}

.options {
    color:#030511;
    font-family: Montserat, sans-serif; 
    font-size: 2vh; 
}
#info-form {
    background-color: #D4C2FC;
    padding: 5vh;
}
/* Grid layout will change to a vertical column in the case of mobile resizing */
@media (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-gap: 3vh;
      grid-template-areas:
        "header"
        "img"
        "links"
        "info"
        "about"
        "education"
        "education-text"
        "education-2"
        "education2-text";
    }
    .grid > header {
      text-align: center;
    }
  }